<section class="text-block">
    <div class="text-block__content wrapper">
        <h2 class="text-block__title title-secondary title-secondary--white">{{title}}</h2>
        <div class="text-block__description">
            <p class="text">{{description}}</p>
        </div>
    </div>
</section>