@use '../base/colors' as *;
@use '../utils/variables' as *;
@use '../utils/mixins' as *;

h1, h2 {
    font-family: "Russo One";
}

h1 {
    background-color: $primary-color-1;
    color: $secondary-color-6;
}

.title-secondary {
    font-size: 1.2rem;
    margin-bottom: $space-xs;
    color: $secondary-color-1;
    
    @include screen-md {
        font-size: 1.6rem;
    }
    
    @include screen-lg {
        font-size: 1.8rem;
    }
}

.title-secondary--white {
    color: $secondary-color-6;
}

.list-title {
    font-weight: 600;
}

.text {
    margin-bottom: $space-sm;
}

.text--sm {
    font-size: 1.2rem;
}

.text--white {
    color: $secondary-color-6;
}