<section class="user-links bg-white">
    <div class="user-links wrapper pv-lg">
        <h2 class="list-title pb-sm">Algemeen e-mail adres</h2>
        <ul>
            <li>
                <a class="link link--primary" href="mailto: beschut.wonen@delariks.be">beschut.wonen@delariks.be</a>
            </li>
        </ul>
        <p class="pv-md text text--sm text--bold">Voor aanvragen omtrent een mogelijke opname, gelieve contact op te nemen met Anja Rooselaer</p>
    </div>
</section>