<section class="text-block">
    <div class="wrapper">
        <h2 class="text-block__title title-secondary title-secondary--white">De opname procedure</h2>
        <div class="text-block__description">
            <p class="text">Als je denkt dat Beschut Wonen De Lariks iets voor jou kan zijn dan neem je best
                contact op met de coördinator.</p>
            <p class="text">Afhankelijk van de beschikbare plaatsen kan een eerste gesprek plaatsvinden. Op basis van dit
                gesprek aangevuld met een psychiatrisch verslag beslist het team over een eventueel tweede contact met de
                psychiater van De Lariks. Daarna wordt beslist of een verblijf in De Lariks mogelijk is. Een opnamedatum wordt dan in
                onderling overleg vastgelegd.</p>
        </div>
    </div>
</section>