// Spacing

$space-unit: 1rem;
$space-xxs: calc(0.25 * $space-unit);
$space-xs: calc(0.5 * $space-unit);
$space-sm: calc(0.75 * $space-unit);
$space-md: calc(1.25 * $space-unit);
$space-lg: calc(2 * $space-unit);
$space-xl: calc(3.25 * $space-unit);
$space-xxl: calc(5.25 * $space-unit);

// Colors

$primary-color-1: #BCBE00;
$primary-color-2: #C9CB33;
$primary-color-3: #D7D866;
$primary-color-4: #E4E599;
$primary-color-5: #F2F2CC;

$secondary-color-1: #55828B;
$secondary-color-2: #779BA2;
$secondary-color-3: #99B4B9;
$secondary-color-4: #BBCDD1;
$secondary-color-5: #DDE6E8;
$secondary-color-6: #ffffff;

$tertiary-color-1: #13293D;
$tertiary-color-2: #3b4f65;
$tertiary-color-3: #64778f;
$tertiary-color-4: #8fa3bd;
$tertiary-color-5: #bdd1ec;