---
  pageTitle: Contact | De Lariks
  mainTitle: Contact
---

{% extends "layouts/specific.njk" %}

{% block main %}

    {% include "partials/nl/locatie.njk" %}
    <div style="background-image: url('../../assets/img/SDIM2611_Lariks\ website.jpg');" class="img-block img-block--small"></div>
    {% include "partials/nl/opname.njk" %}
    {% include "partials/nl/contact-gegevens.njk" %}
    {% include "partials/nl/begeleiders-gegevens.njk" %}
{% endblock %}