---
  pageTitle: De Lariks | Home
---

{% extends "layouts/home.njk" %}

{% block main %}

    {% include "partials/nl/hero.njk" %}

    {% include "partials/nl/doelgroep.njk" %}

    {% set image = "maria.jpg" %}
    {% set name = "Maria" %}
    {% set quote = "In oktober 2001 ben ik met mijn valies in De Lariks toegekomen. De eerste weken was het een grote aanpassing. Nu is het mijn thuis" %}
    {% include "components/quote.njk" %}

    {% include "partials/nl/begeleiding-domeinen.njk" %}
    
    {% set image = "SDIM2526_Lariks\ website.jpg" %}
    {% include "components/img-block.njk" %}

    {% include "partials/nl/opname.njk" %}
    {% include "partials/nl/contact-gegevens.njk" %}
    {% include "partials/nl/locatie.njk" %}
{% endblock %}