---
  pageTitle: Visie | De Lariks
---

{% extends "layouts/home.njk" %}

{% block main %}

    <div class="bg-blue">
        <h1 class="title-1 title-1--blue-bg wrapper">Linken</h1>
    </div>

    <section class="links bg-white">
        <ul class="links__content container wrapper">
            <li class="links__item link-primary" >
                <a target="_blank" href="https://www.health.belgium.be/nl/brochure-patientenrechten">Over de rechten van de patiënt</a>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.familieplatform.be">Familieplatform Geestelijke Gezondheidszorg</a>
                <span>Familieplatform Geestelijke Gezondheidszorg wil familieorganisaties ondersteunen en dichter bij elkaar brengen.</span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.similes.be">Similes</a>
                <span>Similes is een organisatie die familie en naasten van psychisch kwetsbare mensen ondersteunt. Ze organiseren regelmatig infoavonden en gespreksbijeenkomsten.</span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.mantelzorgers.be">Mantelzorgorganisaties</a>
                <span>Mantelzorgorganisaties zijn organisaties die zich inzetten voor personen die de zorg van een ziek of psychisch kwetsbaar persoon mee op zich nemen</span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.cgg-brussel.be">Centra Geestelijke Gezondheidszorg</a>
                <span>Overlegplatform geestelijke gezondheidzorg Brussel: hier vind je informatie over verschillende zorgverleners en diensten die in Brussel werkzaam zijn rond geestelijke gezondheidszorg. www.pfcsm-opgg.be </span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.pfcsm-opgg.be">Overlegplatform geestelijke gezondheidszorg</a>
            </li>
        </ul>
    <div style="background-image: url('../../assets/img/SDIM2547_Lariks website.jpg');" class="img-block img-block--small img-block--center"></div>
    </section>

{% endblock %}