---
  pageTitle: Visie | De Lariks
  mainTitle: Over ons 
---

{% extends "layouts/specific.njk" %}

{% block main %}
    <section class="container bg-white">
        <div class="wrapper">
            <h2 class="title-2">Visie</h2>
            <div class="container__block">
                <p class="text">De Lariks biedt in Brussel huisvesting en begeleiding aan volwassenen met psychische kwetsbaarheid. Mensen voor wie zelfstandig wonen (tijdelijk) niet haalbaar is, wonen alleen of samen in kleine groepen. De begeleiding wil gelijkwaardig ondersteunend aanwezig zijn en trachten de cliënt te stimuleren om de dagdagelijkse dingen (terug) op te nemen. Er wordt gestreefd naar het activeren, behouden of herstellen van de persoonlijke mogelijkheden, de zogenaamde ‘rehabilitatiegedachte’</p>
                <img class="width-full" src="/assets/img/SDIM2519_Lariks website.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="text-block text-block--list">
        <div class="text-block__content wrapper">
            <h2 class="text-block__title title-2 title-2--white">Missie</h2>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Zorg op maat</h3>
                <p class="text">Wat is de vraag van de cliënt en wat zijn haar/zijn mogelijkheden? de persoonlijke mogelijkheden, de motivatie en de kans om een helende plek te vinden (binnen een bestaande bewonersgroep of in een individuele woonst) de uitgangspunten zijn.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Empowerment</h3>
                <p class="text">Wat is de vraag van de cliënt en wat zijn haar/zijn mogelijkheden? de persoonlijke mogelijkheden, de motivatie en de kans om een helende plek te vinden (binnen een bestaande bewonersgroep of in een individuele woonst) de uitgangspunten zijn.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Respectvolle omgang</h3>
                <p class="text">Een wederzijdse respectvolle omgang leidt tot een goede samenwerking. Privacy van de cliënt is belangrijk, hij mag/moet eigen keuzes maken.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Kwaliteitsvol verblijf</h3>
                <p class="text">Vanuit De Lariks willen we de nodige faciliteiten voorzien om comfortabel en veilig te leven (koken, was en hygiëne). Elkeen heeft zijn eigen ruimte met eigen spullen.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Gezond leven</h3>
                <p class="text">We hebben aandacht voor zowel psychische als lichamelijke gezondheid en bieden hier omkadering en opvolging.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Continuïteit van zorg</h3>
                <p class="text">We gebruiken maximaal de reguliere diensten om een persoonlijk netwerk uit te bouwen naargelang de noden van de cliënt. Bij het beëindigen van het verblijf werken we aan een degelijke verwijzing en/of nazorg.</p>
            </div>
            <div class="text-block__description pb-sm">
                <h3 class="title-3">Maatschappelijke verankering</h3>
                <p class="text">We besteden uitgebreid aandacht aan een persoonlijk zinvolle activering, het uitbouwen van een sociaal netwerk en aan het zoeken naar een zinvolle plek in de samenleving. We werken actief mee aan positieve beeldvorming in de dagelijkse contacten in de maatschappij.</p>
            </div>
        </div>
    </section>
{% endblock %}