{% extends "layouts/base.njk" %}

{% block body %}
    {% include "partials/header.njk" %}

    <div class="bg-green">
        <h1 class="title-1 wrapper">{{mainTitle}}</h1>
    </div>

    {% block main %}{% endblock %}

    {% include "partials/footer.njk" %}
{% endblock %}