    <section>
        <div class="pv-lg bg-white">
            <div class="list-block__content wrapper">
                <h2 class="title-secondary">Accompagnement</h2>
                <p class="pb-md">En apportant le soutien nécessaire dans différents domaines de la vie, l'objectif est de maintenir, d'améliorer ou de restaurer l'indépendance. L'accompagnement se fait sous forme de coaching et construit, avec le client, un réseau de soutien. Quelle que soit la forme de logement, chaque client a un accompagnateur individuel qui est disponible fonction des besoin.</p>
                <ul class="list-block">
                    <li class="list-block__item">
                        <img src="/assets/SVG/smile.svg" alt="smile" class="list-block__svg">
                        <div class="list-block__body">
                            <h3 class="list-block__title list-title">Un soutien psychique</h3>
                            <p class="list-block__text text">L’équipe offre un accompagnement professionnel. Si nécessaire, des services externes, comme un Service de Santé Mentale (SSM), un psychologue ou un psychiatre, peuvent être contactés.</p>
                            <p class="list-block__text text">In geval van nood is het team 24 uur per dag bereikbaar voor de bewoners.</p>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <img src="/assets/SVG/network.svg" alt="network" class="list-block__svg">
                        <div class="list-block__body">
                            <h3 class="list-block__title list-title">Un soutien social</h3>
                            <p class="list-block__text text">Une attention particulière est apportée au réseau social des clients. Dans ce cadre, De Lariks considère l’occupation de jour comme une condition obligatoire. Cette activité de jour peut consister d’un emploi rémunéré, un travail bénévole, la fréquentation d'un centre de jour, le lancement d'une étude, etc.</p>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <img src="/assets/SVG/finance.svg" alt="finance" class="list-block__svg">
                        <div class="list-block__body">
                            <h3 class="list-block__title list-title">Un suivi budgétaire</h3>
                            <p class="list-block__text text">Le client est aidé à gérer son propre budget. Un système de gestion budgétaire peut être installé si nécessaire.</p>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <img src="/assets/SVG/clean.svg" alt="clean" class="list-block__svg">
                        <div class="list-block__body">
                            <h3 class="list-block__title list-title">Un soutien ménager</h3>
                            <p class="list-block__text text">Une certaine indépendance est attendue de la part du résident dans l'exécution des tâches ménagères. Une aide pratique est fournie si nécessaire.</p>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <img src="/assets/SVG/administration.svg" alt="administration" class="list-block__svg">
                        <div class="list-block__body">
                            <h3 class="list-block__title list-title">Un suivi administratif</h3>
                            <p class="list-block__text text">Si nécessaire, des démarches administratives peuvent être offertes.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>