<section class="user-links bg-white">
    <div class="user-links wrapper pv-lg">
        <h2 class="list-title pb-sm">Adresse e-mail générale</h2>
        <ul>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">beschut.wonen@delariks.be</a>
            </li>
        </ul>
        <p class="pv-md text text--sm text--bold">Pour toute question concernant une éventuelle admission, veuillez contacter Anja Rooselaer.</p>
    </div>
</section>