<section class="text-block text-block--{{color}}">
    <div class="text-block__content wrapper">
        <h2 class="text-block__title title-secondary title-secondary--white">Qui peut être accueilli à De Lariks?</h2>
        <div class="text-block__description">
            <p class="text">De Lariksa a pour objectif d’accueillier des personnes ayant des problèmes psychiques, qui ne leur permettent pas (encore) ou plus de vivre seules et qui ont besion d’un accompagnement supplémentaires sans qu’une admission permanente dans un cadre psychiatrique soit nécessaire.</p>
            <p class="text">Le séjour peut être temporaire ou permanent.</p>
        </div>
    </div>
</section>
</section>