<footer class="footer p-md">
    <div class="footer__content wrapper">
        <img class="footer__logo pb-xs" src="/assets/SVG/logo-dekstop-fr.svg" alt="logo">
        <ul class="footer__nav pb-md">
            <li>
                <a href="/fr/accompagnement">Accompagnement</a>
            </li>
            <li>
                <a href="/fr/qui-sommes-nous">Qui sommmes-nous?</a>
            </li>
            <li>
                <a href="/fr/contact">Contact</a>
            </li>
            <li>
                <a href="/fr/liens">Liens</a>
            </li>
        </ul>
        <div class="footer__details text text--sm text--white">
            <span>© <script>document.write(new Date().getFullYear())</script> DE LARIKS</span>
        </div>
    </div>
</footer>