<section class="hero">
    <div class="hero__img"></div>
    <div class="hero__text text-block">
        <div class="text-block__content">
            <img src="/assets/SVG/logo-fr-titles.svg" alt="">
            <div class="text-block__description">
                <p class="text">Avançons ensemble et révélons notre potentiel</p>
            </div>
        </div>
    </div>
</section>