    <section class="location bg-white">
        <div class="location__content wrapper">
            <div class="location__info">
                <div class="pb-md">
                    <h2 class="subtitle">Contact</h2>
                    <address>
                        <span>Siège administratif:<br/>Asbl Habitations Protégée <br/>De Lariks<br/>Rue Jean Robie 29<br/>1060 Saint-Gilles</span>
                    </address>
                </div>
                <div class="pb-md">
                    <h2 class="subtitle">Accès</h2>
                    <address>
                        <span>Gare: Bruxelles-Midi<br/>Tram (81): Barrière<br/>Bus (52): Barrière<br/>Pré-metro (3,
                        4, 51): Horta</span>
                    </address>
                </div>
            </div>
            <div>
                <iframe class="location__map map pb-md"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.2841333126867!2d4.340478816236223!3d50.82590077952896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c442cb39f70d%3A0x91e9c71fe1d79e1!2svzw%20Beschut%20Wonen%20De%20Lariks!5e0!3m2!1sen!2sbe!4v1660740584503!5m2!1sen!2sbe"  style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <p class="text--sm text--italic wrapper">VZW Beschut Wonen De Lariks fait partie d'un partenariat avec CSM Bruxelles et les Cliniques d’Europe Sint-Michel. REconnu par la Commission communautaire commune de Bruxelles-Capitale (Cocom)</p>
    </section>