<section class="text-block text-block--{{color}}">
    <div class="text-block__content wrapper">
        <h2 class="text-block__title title-secondary title-secondary--white">La procédure d'admission</h2>
        <div class="text-block__description">
            <p class="text">Si vous pensez que l’asbl Habitations Protégées De Lariks pourrait vous convenir, veuillez contacter la coordinatrice. Anja Rooselaer 02/534.83.41 ou par mail anja.rooselaer@delariks.be.</p>
            <p class="text">En fonction des places disponibles, un premier entretien peut avoir lieu.</p>
            <p class="text">Sur base de cet entretien et d’un rapport psychiatrique, l'équipe décidera d'un éventuel second contact avec le psychiatre de De Lariks afin de décider si un séjour à De Lariks est possible. Une date d'admission est alors fixée.</p>
        </div>
    </div>
</section>