@use '../utils/variables' as *;

.bg-white {
    background-color: $secondary-color-5;
}

.bg-green {
    background-color: $primary-color-1;
}

.img-bg {
    height: 20rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}