@use '../utils/variables' as *;

.links__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .link-primary {
        font-size: 1.4rem;
        font-family: "Russo one";
        
        a {
            color: $secondary-color-1;
            font-weight: 300;
            text-decoration: underline;
        }
        
        span {
            font-size: 1rem;
            font-family: "Titillium Web";
            font-weight: 300;
            display: block;
            font-style: italic;
        }
    }

}

.link {
    &:hover {
        border-bottom: 1px solid $secondary-color-2;
        opacity: .75;
    }
    
    &--primary {
        transition: opacity .2s ease;
        color: $secondary-color-1;
        opacity: 1;
        font-weight: 500;
    }
}