@use '../base/colors' as *;
@use '../utils/mixins' as *;
@use '../utils/variables' as *;

@use '../utils/variables' as *;

.footer {
    background-image: url("../assets/SVG/bg-darkblue.svg");
    background-size: 500%;
    background-position: 35% 45%;
    
    @include screen-md {
        background-size: 350%;
        background-position: 35% 45%;
    }
  
    @include screen-lg {
        background-size: 300%;
        background-position: 25% 45%;
    }

    &__content {
        .footer__logo {
            scale: 1.1;
            position: relative;
            right: 1rem;
            max-width: 8rem;
            opacity: 0.75;
        }

        .footer__nav li a {
            color: $secondary-color-6;
            text-decoration: none;

            &:hover {
                opacity: .7;
            }
        }

        .footer__details {
            display: flex;
            font-size: 0.8rem;
            flex-direction: column;
        }
    }
}