@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.header {
  width: 100%;
  background-size: 500%;
  background-position: 50% 45%;
  background-image: url(../assets/SVG/bg-darkgreen.svg);
  
  @include screen-md {
      background-size: 350%;
      background-position: 45% 45%;
  }

  @include screen-lg {
      background-size: 250%;
      background-position: 35% 45%;
  }
  
  &__content {
      @include flex-row-between;

    .header__logo-mobile {
      max-width: 10rem;
      padding: 0.5rem 0;

      @include screen-md {
        display: none;
      }
    }

    .header__logo-dekstop {
      @include screen-md {
        width: 5rem;
        padding: 1.5rem 0;
        display: block;
    }
    
    @include screen-lg {
          width: 7rem;
      }
    }

    .header__hamburger {
      max-width: 1.5rem;

      @include screen-md {
        display: none;
      }
    }

    .header__nav {
      @include screen-md {
        @include flex-row-center;
        gap: 2rem;
        font-weight: 300;

        @include screen-lg {
            font-size: 1.3rem;
        }

        @include screen-xl {
            font-size: 1.4rem;
        }
    }
    
    .header__link {
        a {
            color: $secondary-color-6;
        }
      }
    }
  }
}
