@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.header {
    width: 100%;
    background-size: 500%;
    background-position: 50% 45%;
    background-image: url(../assets/SVG/green-bg.svg);
    padding: 0 $space-md;
    height: 4rem;

    @include flex-row-between;
    
    &__logo {
        max-width: 15rem;
    }
    
    &__hamburger {
        max-width: 2rem;
    }
}