@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.text-block {

    &.text-block--list {
        background-image: none;
        background-color: $secondary-color-1;

        
        .text-block__content {
            .text-block__description {
                width: min(100%, 40rem);
            }
        }
    }

    background-image: url("../assets/SVG/bg-darkgreen.svg");
    background-size: 600%;
    background-position: 65% 45%;
    color: $secondary-color-6;
    padding: 2rem 0 2rem;
    
    @include screen-lg {        
        background-size: 300%;
    }
    
    @include screen-xl {
        padding: 3rem 0;
        background-size: 200%;
        background-position: 65% 45%;
    }

    &__description {
        max-width: min(100%, 55rem);

        @include screen-md {
        
        }
    }
}