---
  pageTitle: Liens | De Lariks
---

{% extends "layouts/fr/home.njk" %}

{% block main %}

    <div class="bg-blue">
        <h1 class="title-1 title-1--blue-bg wrapper">Liens</h1>
    </div>

    <section class="links bg-white">
        <ul class="links__content container wrapper">
            <li class="links__item link-primary" >
                <a target="_blank" href="https://www.health.belgium.be/fr/brochure-droits-du-patient">A propos des droits des patients</a>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="https://wallonie.similes.org/">Similes</a>
                <span>Similes est une organisation qui soutient les familles et les proches de personnes atteintes de troubles psychiques. Ils organisent régulièrement des soirées d'information et des groupes de paroles</span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="https://www.aidants-proches.be">Les organisations pour aidants proches</a>
                <span>Les organisations pour aidants proches sont des organisations qui soutiennent les personnes qui partagent les soins d'une personne malade ou psychologiquement vulnérable</span>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="https://lbsm.be/32/permanences-des-services-de-sante-mentale-bruxellois.html?lang=nl">Services de santé mentale à Bruxelles</a>
            </li>
            <li class="links__item link-primary" >
                <a target="_blank" href="www.pfcsm-opgg.be">Plateforme Bruxelloise pour la Santé Mentale</a>
                <span>Vous y trouverez des informations sur différents services travaillant dans le domaine de la santé mentale à Bruxelles</span>
            </li>
        </ul>
    <div style="background-image: url('../../assets/img/SDIM2547_Lariks website.jpg');" class="img-block img-block--small img-block--center"></div>
    </section>

{% endblock %}