---
  pageTitle: Qui sommes-nous? | De Lariks
  mainTitle: Qui sommes-nous?
---

{% extends "layouts/fr/specific.njk" %}

{% block main %}
    <section class="container bg-white">
        <div class="wrapper">
            <div class="container__block">
                <img class="width-full" src="/assets/img/SDIM2519_Lariks website.jpg" alt="">
                <div class="container__content ">
                    <h2 class="title-2">Mission</h2>
                    <p>De Lariks fournit un logement et un accompagnement aux adultes souffrant d’une vulnérabilité mentale à Bruxelles. Les personnes pour qui la vie indépendante n'est (temporairement) pas possible, vivent seules ou en petits groupes. L'accompagnateur adopte une attitude égale envers le patient, veut soutenir et stimuler le client à (re)prendre les choses quotidiennes. L'objectif est d'activer, de maintenir ou de restaurer les capacités personnelles, ce que l'on appelle le "concept de réhabilitation".</p>
                </div>
            </div>
        </div>
    </section>

    <section class="text-block text-block--list">
        <div class="text-block__content wrapper">
            <h2 class="text-block__title title-2 title-2--white">Vision</h2>
            <div class="text-block__column">
                <div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Des soins sur mesure</h3>
                        <p class="text">Quelle est la demande du client et quelles sont ses capacités ? Les capacités personnelles, la motivation et la possibilité de trouver un lieu de ressourcement  sont les points de départ.</p>
                    </div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Empowerment</h3>
                        <p class="text">Comment pouvons-nous redonner du pouvoir aux gens afin qu'ils acquièrent eux-mêmes plus de contrôle? Nous tenons compte des capacités du client et lui offrons autant de soutien que nécessaire, mais aussi peu que possible. Les clients restent responsables de leurs propres choix.</p>
                    </div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Une interaction respectueuse</h3>
                        <p class="text">Une interaction respectueuse mutuelle conduit à une bonne coopération. La vie privée du client est importante ; il peut/doit faire ses propres choix.</p>
                    </div>
                </div>
                <img class="width-full pv-xs" src="/assets/img/SDIM2601_Lariks website.jpg" alt="">
            </div>
            <div class="text-block__column">
                <div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Un séjour de qualité</h3>
                        <p class="text">A De Lariks, nous voulons fournir les facilités nécessaires pour vivre confortablement et en toute sécurité (cuisine, linge et hygiène). Chaque personne dispose de sa propre chambre avec ses propres affaires.</p>
                    </div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Une vie saine</h3>
                        <p class="text">Nous sommes attentifs à la santé mentale et physique et proposons un suivi dans ce domaine.</p>
                    </div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">La continuité des soins</h3>
                        <p class="text">Nous utilisons au maximum les services réguliers pour construire un réseau personnel en fonction des besoins du client. À la fin du séjour, nous travaillons à une orientation adéquate et/ou à un suivi des soins.</p>
                    </div>
                    <div class="text-block__description pb-sm">
                        <h3 class="title-3">Un ancrage social</h3>
                        <p class="text">Nous accordons une attention particulière à une activation personnelle, à la constitution d'un réseau social et à la recherche d'une place significative dans la société. Nous contribuons activement à la construction d'une image positive dans nos contacts quotidiens avec la société.</p>
                    </div>
                </div>
                <img class="width-full pv-xs" src="/assets/img/SDIM2586_Lariks website.jpg" alt="">
            </div>
        </div>
    </section>

{% endblock %}