---
  pageTitle: De Lariks | Home
---

{% extends "layouts/home.njk" %}

{% block main %}
{# 
    {% include "partials/hero.njk" %}

    {%- from "partials/quote.njk" import userBlock -%}
    {{ userBlock(
        "In oktober 2001 ben ik met mijn valies in De Lariks toegekomen. De eerste weken was het een grote aanpassing. Nu is het mijn thuis", 
        "Maria", 
        "maria.jpg") 
    }}

    {% include "partials/begeleiding-domeinen.njk" %}

    <div style="background-image: url('../../assets/img/SDIM2526_Lariks\ website.jpg');" class="img-block"></div>

    {% include "partials/opname.njk" %}
    {% include "partials/contact-gegevens.njk" %}

    <section class="location bg-white">
        <div class="location__content wrapper">
            <div class="location__info">
                <div class="pb-md">
                    <h2 class="subtitle">Gegevens</h2>
                    <address>
                        <span>Admininstratieve zetel:<br/>VZW Beschut Wonen<br/>De Lariks<br/>Jean Robiestraat 29<br/>1060
                        Sint-Gillis</span>
                    </address>
                </div>
                <div class="pb-md">
                    <h2 class="subtitle">Bereikbaarheid</h2>
                    <address>
                        <span>Treinstation: Brussel-Zuid<br/>Tram (18, 81, 82): Barrière<br/>Bus (48): Barrière<br/>Pré-metro (3,
                        4, 51) : Horta</span>
                    </address>
                </div>
            </div>
            <div>
                <iframe class="location__map map pb-md"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2520.2841333126867!2d4.340478816236223!3d50.82590077952896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3c442cb39f70d%3A0x91e9c71fe1d79e1!2svzw%20Beschut%20Wonen%20De%20Lariks!5e0!3m2!1sen!2sbe!4v1660740584503!5m2!1sen!2sbe"  style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <p class="text--sm text--italic wrapper">VZW Beschut Wonen De Lariks maakt deel uit van een samenwerkingsverband met CGG Brussel en
                Europaziekenhuizen Sint-Michielskliniek.</p>
    </section> #}
{% endblock %}