@use '../base/colors' as *;
@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.container {
    &__block {
        @include screen-md {
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: space-between;
        }

        .text {
            @include screen-md {
                width: 50%;
            }
        }
        
        img {
            @include screen-md {
                width: min(50%, 30rem);
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
    
    &__content {
        margin: 1rem 0;

        @include screen-md {
            width: 50%;
        }
    }
}