<section>
    <div class="pv-lg bg-white">
        <div class="list-block__content wrapper">
            <h2 class="title-secondary">De begeleiding</h2>
            <p class="pb-md">Door het bieden van de nodige ondersteuning op verschillende domeinen van het leven wordt er gestreefd naar het
                behouden, verhogen of herstellen van de zelfstandigheid. De begeleiding heeft een coachende functie en bouwt
                samen met de cliënt een ondersteunend netwerk uit. Ongeacht de woonvorm heeft elke cliënt een individuele
                begeleider die naargelang de begeleidingsvraag meer of minder aanwezig kan zijn.</p>
            <ul class="list-block">
                <li class="list-block__item">
                    <img src="/assets/SVG/smile.svg" alt="smile" class="list-block__svg">
                    <div class="list-block__body">
                        <h3 class="list-block__title list-title">Psychische ondersteuning</h3>
                        <p class="list-block__text text">Het team verzekert een professionele begeleiding waarbij indien
                            nodig een beroep wordt gedaan op externe diensten zoals een Centrum Geestelijke Gezondheidszorg
                            (CGGZ), psycholoog of psychiater.</p>
                    </div>
                </li>
                <li class="list-block__item">
                    <img src="/assets/SVG/network.svg" alt="network" class="list-block__svg">
                    <div class="list-block__body">
                        <h3 class="list-block__title list-title">Sociale ondersteuning</h3>
                        <p class="list-block__text text">Er wordt in grote mate aandacht besteed aan het sociale netwerk
                            van de cliënten. In dat kader ziet De Lariks een passende dagactiviteit als een verplicht gegeven.
                            Deze dagactiviteit kan bestaan uit een betaalde job, vrijwilligerswerk, naar een dagcentrum gaan,
                            een studie starten, etc.</p>
                    </div>
                </li>
                <li class="list-block__item">
                    <img src="/assets/SVG/finance.svg" alt="finance" class="list-block__svg">
                    <div class="list-block__body">
                        <h3 class="list-block__title list-title">Financiële ondersteuning</h3>
                        <p class="list-block__text text">Er kan hulp geboden worden bij het omgaan met geld en met het
                            beschikbare budget. Een systeem budgetbeheer kan geïnstalleerd worden indien nodig.</p>
                    </div>
                </li>
                <li class="list-block__item">
                    <img src="/assets/SVG/clean.svg" alt="clean" class="list-block__svg">
                    <div class="list-block__body">
                        <h3 class="list-block__title list-title">Huishoudelijke ondersteuning</h3>
                        <p class="list-block__text text">Er wordt van de bewoner een zekere zelfstandigheid verwacht bij
                            het uitvoeren van de huishoudelijke taken. Waar nodig wordt praktische hulp geboden.</p>
                    </div>
                </li>
                <li class="list-block__item">
                    <img src="/assets/SVG/administration.svg" alt="administration" class="list-block__svg">
                    <div class="list-block__body">
                        <h3 class="list-block__title list-title">Adminstratieve ondersteuning</h3>
                        <p class="list-block__text text">Waar nodig wordt ondersteuning geboden bij administratieve taken.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>