<section class="user-links bg-white">
    <div class="user-links wrapper pv-lg">
        <h2 class="list-title pb-sm">Gegevens begeleiders</h2>
        <ul>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Daan.ory@delariks.be</a>
            </li>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Evi.vandenbroeck@delariks.be</a>
            </li>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Greet.troost@delariks.be</a>
            </li>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Joni.feytens@delariks.be</a>
            </li>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Katrien.renders@delariks.be</a>
            </li>
            <li>
                <a class="link link--primary" href="mailto: Daan.ory@delariks.be">Mira.vermeulen@delariks.be</a>
            </li>
        </ul>
        <p class="pv-md text text--sm text--bold">Voor aanvragen omtrent een mogelijke opname, gelieve contact op te nemen met Anja Rooselaer</p>
    </div>
</section>