<section class="user-block pv-lg">
    <div class="user-block__content wrapper">
        <img class="user-block__avatar" src="/assets/img/anja.jpg" alt="">
        <div class="user-block__body">
            <span class="user-block__name list-title">Anja Rooselaer</span>
            <address>
                <a class="link" href="mailto:anja.rooselaer@delariks.be">anja.rooselaer@delariks.be</a><br>
                <a class="link" href="tel:+3225348341">02/534.83.41</a>
            </address>
            <a href="mailto:anja.rooselaer@delariks.be" class="btn-primary">
                Stuur een bericht
            </a>
        </div>
    </div>
</section>