<footer class="footer p-md">
    <div class="footer__content wrapper">
        <img class="footer__logo pb-xs" src="/assets/SVG/logo-nl-white.svg" alt="logo">
        <ul class="footer__nav pb-md">
            <li>
                <a href="">Begeleiding</a>
            </li>
            <li>
                <a href="">Over ons</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li>
                <a href="">Linken</a>
            </li>
        </ul>
        <div class="footer__details text text--sm text--white">
            <span>Webdesign and development by Arnaud De Burchgraeve</span>
            <span>© <script>document.write(new Date().getFullYear())</script> DE LARIKS</span>
        </div>
    </div>
</footer>