<header class="header">
    <nav class="header__content wrapper">
        <a class="header__logo-mobile" href="/nl">
            <img src="/assets/SVG/logo-mobile.svg" alt="logo"/>
        </a>

        <a class="header__logo-dekstop hidden" href="/nl">
            <img src="/assets/SVG/logo-dekstop.svg" alt="logo"/>
        </a>
        <img class="header__hamburger" src="/assets/SVG/hamburger.svg" alt="menu-btn"/>
        <ul class="header__nav hidden">
            <li class="header__link">
                <a href="/nl/begeleiding">Begeleiding</a>
            </li>
            <li class="header__link">
                <a href="/nl/over-ons">Over ons</a>
            </li>
            <li class="header__link">
                <a href="/nl/contact">Contact</a>
            </li>
            <li class="header__link">
                <a href="/nl/linken">Links</a>
            </li>
        </ul>
        <div class="nav__mobile">
            <button class="nav__close">
                <svg xmlns="http://www.w3.org/2000/svg" width="32.656" height="32.656" viewBox="0 0 32.656 32.656"><path d="M40.18,10.789,36.914,7.523,23.852,20.586,10.789,7.523,7.523,10.789,20.586,23.852,7.523,36.914l3.265,3.265L23.852,27.117,36.914,40.18l3.265-3.265L27.117,23.852Z" transform="translate(-7.523 -7.523)" fill="#55828b"/></svg>
            </button>
            <ul class="nav__content">
                <li class="nav__link">
                    <a href="/nl/">Home</a>
                </li>
                <li class="nav__link">
                    <a href="/nl/begeleiding">Begeleiding</a>
                </li>
                <li class="nav__link">
                    <a href="/nl/over-ons">Over ons</a>
                </li>
                <li class="nav__link">
                    <a href="/nl/contact">Contact</a>
                </li>
                <li class="nav__link">
                    <a href="/nl/linken">Linken</a>
                </li>
            </ul>
        </div>
    </nav>
</header>