<header class="header">
    <img class="header__logo" src="../assets/SVG/logo-mobile.svg" alt="logo" />
    <img class="header__hamburger" src="../assets/SVG/hamburger.svg" alt="menu-btn" />
</header>

