<header class="header">
    <div class="header__content wrapper">
        <img class="header__logo-mobile" src="../assets/SVG/logo-mobile.svg" alt="logo" />
        <img class="header__logo-dekstop hidden" src="../assets/SVG/logo-dekstop.svg" alt="logo" />
        <img class="header__hamburger" src="../assets/SVG/hamburger.svg" alt="menu-btn" />
        <ul class="header__nav hidden">
            <li class="header__link">
                <a href="">Begeleiding</a>
            </li>
            <li class="header__link">
                <a href="">Over ons</a>
            </li>
            <li class="header__link">
                <a href="">Contact</a>
            </li>
            <li class="header__link">
                <a href="">Linken</a>
            </li>
        </ul>
    </div>
</header>

