<section class="hero">
    <div class="hero__img"></div>
    <div class="hero__text text-block">
        <div class="text-block__content">
            <h2 class="text-block__title title-secondary title-secondary--white">Wie kan er in de Lariks terecht?</h2>
            <div class="text-block__description">
                <p class="text">De Lariks is er voor personen die omwille van psychische problemen (nog)
                niet of
                niet meer alleen kunnen wonen en nood hebben aan bijkomende ondersteuning zonder dat een permanente opname in
                een psychiatrische voorziening aangewezen is.</p>
                <p>Het verblijf kan een tijdelijk of permanent karakter hebben.</p>
            </div>
        </div>
    </div>
</section>