<section class="text-block">
    <div class="wrapper">
        <h2 class="text-block__title title-secondary title-secondary--white">De opname procedure</h2>
        <div class="text-block__description">
            <p class="text">Indien je denkt dat Beschut wonen iets voor jou kan zijn neem je best
                contact op
                met de coördinator.</p>
            <p class="text">Afhankelijk van de beschikbare plaatsen kan een eerste gesprek plaatsvinden. Op basis van dit
                gesprek aangevuld met een psychiatrisch verslag beslist het team over een eventueel tweede contact met de
                psychiater van De Lariks wordt beslist of een verblijf in de Lariks mogelijk is. Een opnamedatum wordt dan in
                onderling overleg vastgelegd.</p>
        </div>
    </div>
</section>