<section class="user-block pv-lg">
    <div class="user-block__content wrapper">
        <img class="user-block__avatar" src="/assets/img/profile.jpg" alt="">
        <div class="user-block__body">
            <span class="user-block__quote">‘Ik ben zelfstandiger en zelfzekerder geworden door de ondersteuning van De
                Lariks’</span>
            <span class="user-block__title">Maria, cliënt</span>
        </div>
    </div>
</section>